@charset "utf-8";
@import "../node_modules/bulma/bulma.scss";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  width: 100vw;
  height: 100vh;
}

.gamecanvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

canvas#background {
  border: 1px solid rgb(1, 16, 65);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
  #status_container {
    width: 0;
  }  
}