doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='manifest', href='manifest.json')
    title #{title}
    link(rel="stylesheet", href="css/index.css")
    script(src='js/serviceWorkerRegister.js')
  body
    div.is-hidden(id='version' version=version)
    p.title Bulma is available!
    img.image(src='img/RTR_512x512.png')
    script(src='js/index.js')