doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='manifest' href='manifest.json')
    title #{title}
    link(rel="stylesheet" href="css/index.css")
    script(src='js/serviceWorkerRegister.js')
  body.has-background-dark
    canvas.gamecanvas(id='background')
    canvas.gamecanvas(id='battlefield')
    button.button.is-warning.m-1.js-modal-trigger(data-target="settings_modal") Settings
    div.block
      div.block(id="status_container")
          div.field.is-grouped.is-grouped-multiline.p-1
            div.control
              div.tags.has-addons
                span.tag.is-white PWA
                span.tag.is-info.status #{version}
            div.control(id="connection_status")
              div.tags.has-addons
                span.tag.is-white WebSocket
                span.tag.is-info.status
                  span.icon
                    i.fa.fa-times
            div.control(id="game_status")
              div.tags.has-addons
                span.tag.is-white Game status
                span.tag.is-info.status
                  span.icon
                    i.fa.fa-question
            div.control(id="server_version")
              div.tags.has-addons
                span.tag.is-white Server
                span.tag.is-info.status
                  span.icon
                    i.fa.fa-question
    
    div.modal(id="settings_modal")
      div.modal-background
      div.modal-content
          div.field.is-grouped.is-grouped-multiline.p-1(id="connection_parameters")
            div.control(id="observer_name") 
              div.tags.has-addons
                span.tag.is-white.is-medium Name
                span.tag.is-warning.is-medium
                  input.input.is-small(type='text' placeholder='Observer')
            div.control(id="ip_url")
              div.tags.has-addons
                span.tag.is-white.is-medium IP/URL
                span.tag.is-warning.is-medium
                  input.input.is-small(type='text' placeholder='localhost')
            div.control(id="port")
              div.tags.has-addons
                span.tag.is-white.is-medium Port
                span.tag.is-warning.is-medium
                  input.input.is-small(type='text' placeholder='7654')
            div.control(id="secret")
              div.tags.has-addons
                span.tag.is-white.is-medium Secret
                span.tag.is-warning.is-medium
                  input.input.is-small(type='text' placeholder='connection secret')
          button.button.m-1.is-warning(id="connect_button") Connect
      button.modal-close.is-large(aria-label="close")


  div.is-hidden(id='version' version=version)

  //- temp load the "gameSetup" from file waiting if the server will provide it on day
  script(src='js/gameSetup.js')

  //- index script loaded at the end of the body
  script(src='js/index.js')